.App {
  .sidebar {
    width: 16%;
    height: 100vh;
    background-color: #0A1045;
    position: fixed;
    border-right: 3px solid #153131;
    z-index: 2;
    transition: all .4s ease-in-out;
    transform-origin: left;
    @media screen and (max-width: 1000px) {
      transform: translateX(-200%);
      width: 30%;
    }
    @media screen and (max-width: 411px) {
      width: 50%;
    }
  }
  .nav-toggle {
    @media screen and (max-width: 1000px) {
      transform: translateX(0);
    }
  }
  .main-content {
    width: 84%;
    margin-left: 16%;
    background-color: #6A7FDB;
    min-height: 100vh;
    z-index: 2;
    display: grid;
    .content {
      position: relative;
      @media screen and (max-width: 1000px) {
        width: 100%;
        margin: 0;
      }
    }
    @media screen and (max-width: 1000px) {
      display: block;
      margin-left: 0;
      width: 100%;
      padding: 0 2rem;
    }
  }
  
  .tsparticles-canvas-el {
    position: absolute;
    // min-height: 100vh;
    // min-width: 100vw;
  }
}

.nav-btn {
  position: absolute;
  z-index: 10;
  right: 0%;
  top: 0%;
  margin: 1.5rem 0;
  width: 5rem;
  height: 5rem;
  display: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  .lines-1, .lines-2, .lines-3 {
    display: none;
    height: .4rem;
    width: 75%;
    background-color: #153131;
    pointer-events: none;
    border-radius: 20px;
    &:not(:last-child) {
      margin-bottom: .4rem;
    }
  }
  @media screen and (max-width: 1000px) {
    display: block;
    .lines-1, .lines-2, .lines-3 {
      display: block;
    }
  }
}