.services-container {
  margin: 3rem 0;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3rem;
  row-gap: 0.4rem;
  text-align: left;
}

.services-section {
  margin: 3rem 0;
  .services {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 16rem;
    padding: 6px;
    background-color: #153131;
    border-left: 1px solid #45CB85;
    border-right: 1px solid #45CB85;
    border-bottom: 1px solid #45CB85;
    border-top: 8px solid #45CB85;
    transition: all 0.4s ease-in-out;
    &:hover {
      border-top: 8px solid #57E2E5;
    }
    .service-title {
      font-size: 1.5rem;
      position: relative;
      text-align: left;
      margin-bottom: 1rem;
      padding: 0.6rem 0;
      &::before {
        content: '';
        width: 25%;
        height: 0.3rem;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #45CB85;
      }
      &::after {
        content: '';
        width: 50%;
        height: 0.3rem;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #45cb8681;
      }
    }
    img {
      width: 15%;
    }
  }
}

