/* 
  bg: #57E2E5;
  sidebar: #0A1045;
  mainColor: #6A7FDB;
  mainBorderColor: #153131;
  font-color: #45CB85;

  @fortawesome/fontawesome-svg-core
  @fortawesome/free-brands-svg-icons
  @fortawesome/free-solid-svg-icons
  @fortawesome/react-fontawesome
*/